.content {
    box-shadow: 0 43px 30px -9px var(--todo_shadow);
    padding: 1% 0;
    border-radius: 0.4em;
    background-color: var(--todo_bg);
    color: var(--font_color);
}

.content h2 {
    text-align: center;
    padding-top: 0.5em;
}

.content .dataDiv {
    position: relative;
    border-bottom: 1px solid var(--font_color);
    border-radius: 0;
}

.content .dataDiv .checkbox {
    position: absolute;
    left: 15px;
}

.content .dataDiv .customCheckbox:hover {
    border-image-source: linear-gradient(135deg, #57ddff, #c058f3);
}

.content .dataDiv .checkedbox {
    background: center url('../assets/images/icon-check.svg') no-repeat,
        linear-gradient(135deg, #57ddff, #c058f3);
    border: none;
}

.content .dataDiv .checkedData {
    text-decoration: line-through;
    color: var(--font_color2);
}

.content .dataDiv .data {
    font-weight: bold;
    width: 73%;
}

.content .dataDiv .remove {
    background: url('../assets/images/icon-cross.svg') center/100% no-repeat;
    width: 1rem;
    height: 1rem;
}
